/tmp/
/.tmp/
/.sass-cache/
/bower_components/
/node/
/node_modules/

# Eclipse files
**/.project
**/.settings/
**/.classpath
*.class
**/target
**/bin
**/.springBeans
taget/*

# IDEA files
.idea/*
*.iml
*.ipr
*.iws

# Test reports
dist/test-report/*
