tmp/
.idea/
.tmp/
.sass-cache/
bower_components/
node/
node_modules/

# Eclipse files
**/.project
**/.settings/
**/.classpath
*.class
**/target
**/bin
**/.springBeans
test/
taget/*
dist/test-report/*
dist/*.min.js
